<h1>All products</h1>

<% @products.each do |product| %>
  <div class="product">
    <h3>Name: <%= link_to product.name, product %></h3>
    Description: <%= product.description %><br />
    Price: <%= product.price_in_dollars %>
  </div>
<% end %>
