<h1>Editing</h1>

<%= render 'form', review: @review %>

<%= link_to 'Delete Review', product_review_path(@review), method: :delete, data: {confirm: "Are you sure you want to delete the review '#{@review.name}'? This cannot be undone!"} %>
